:root {
    /* Cores */
    --primeira: #172740;
    --segunda: #F0B604;
    --terceira: #D98E04;
    --quarta: #BF6B04;
    --quinta: #A60303;

    /* Espaçamentos */
    --padding: 3rem;
    --gap: 3rem;
    --margin: 0 auto;

    /* Transição padrão */
    --transition: all 300ms ease-in-out;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Inter',
        sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2.5rem;
}

a,
p,
span {
    font-size: 1.6rem;
    font-family: 'Jaldi',
        sans-serif;
    text-decoration: none;
}



li {
    list-style-type: none;
}

body {
    background-color: var(--primeira);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--quinta);
    border-radius: 10rem;
}

.menu {

    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #BF6B04 0%, #F0B604 75.69%, rgba(217, 217, 217, 0) 152.47%);

}

.bgBlue {
    background: url(/assets/img/liquidBG.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding: 1rem;
}

#logo img {

    width: 102px;
    height: auto;
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: relative;
}

.menu a:hover {
    transition: var(--transition);
    color: var(--segunda);
    background-color: #fff;
    border-radius: 0.5rem;
    transform: translateY(-0.2rem);
    box-shadow: 0 0 5px var(--quarta);
}

.menu a::after {
    content: '';
    width: 0;
    position: absolute;
    left: 50%;
    bottom: .7rem;
    background-color: var(--segunda);
}

.menu a:hover::after {
    transition: all 500ms ease-in-out;
    width: 80%;
    height: .3rem;
    left: 10%;

}

.menu-spacing {
    width: 100%;
    height: 90px;
}

.section {
    padding: 0 var(--padding);
    height: max-content;
}

.main-content {
    max-width: 120rem;
    margin: var(--margin);
}

.home {
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-bottom: 5rem;

}

.grid-content img {
    width: 100%;
    height: auto;
}

.text-home h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.text-home p {
    width: 90%;
    font-size: 1.7rem;
    line-height: 1.4;
}


















/* CARROSSEL */
.container {
    text-align: center;
    padding-bottom: 8rem;
    /* background-color: red; */
}

.text-message {
    font-size: 1.8rem;
    font-style: italic;
    padding: 2rem 0;
}

.container h2 {
    width: max-content;
    margin: 0.5rem auto 0;
    text-transform: uppercase;
}

.carrossel {
    padding: 1rem;
    z-index: 0;
}

.slider {
    max-width: 80rem;
    margin: 0 auto;
    height: max-content;
    padding: 1rem;
    position: relative;
    margin-top: 50px;
}

.slider::after {
    content: '';
    width: 70%;
    height: 0.1rem;
    background-color: var(--segunda);
    position: absolute;
    bottom: -15%;
    left: 15%;
    box-shadow: 0 0 4px var(--quarta);
}

.slide {
    background-color: #fff;
    border-radius: 0.5rem;
    margin-right: 2rem;
    display: flex;
    padding: var(--padding);
}

.slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slick-dots li button:before,
.slick-dots li.slick-active button::before {
    color: var(--segunda);
}

.slide h3,
.slide p {
    color: var(--primeira);
}

.slide h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.slide p {
    margin-top: 1rem;
    font-size: 2rem;
}


/* CALLTOACTION */

.callToAction {
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.callToAction h2,
.callToAction p {
    margin-bottom: 1rem;
}



.callToAction-content a {

    padding: 1rem var(--padding);
    background-color: var(--quinta);
    border-radius: 0.5rem;
    display: block;
    animation: callToAction 1.5s infinite alternate;
    font-size: 2rem;
}


.callToAction-content a:hover {
    transition: var(--transition);
    background-color: #D98E04;
}



@keyframes callToAction {
    0% {
        transform: scale(80%);
    }

    100% {

        box-shadow: 0 0 15px #000;
        transform: scale(100%);
    }
}










/* RODAPE */
.fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10;
}

.foot {
    background-color: #fff;
    height: 25rem;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding);
    padding-top: 6rem;
    position: relative;
}

.rodape::after {

    content: '';
    width: 80%;
    height: 1px;
    position: absolute;
    background-color: var(--quinta);
    top: 3rem;
    left: 10%;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ico {
    width: 26px;
    height: auto;
    margin: 1.5rem 0.6rem 0;
}

.flex:nth-child(1) {
    flex-direction: column;
}

.rodape h1,
.rodape p {
    color: var(--primeira);
}

.rodape h1 {
    font-size: 2.5rem;
}

.rodape p {
    font-size: 2rem;
}

.rodape-logo {
    filter: opacity(0.5);
}


/* RESPONSIVOS */
@media (max-width: 1000px) {

    @keyframes entradaMenu {
        0% {
            height: 0;
        }

        100% {
            height: 100vh;
            bottom: 0;
        }
    }

    @keyframes saidaMenu {
        0% {
            height: 100vh;
        }

        100% {
            height: 0;
            bottom: -100%;
        }
    }

    @keyframes saidaText {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100%);
        }
    }

    @keyframes entradaText {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .menu {
        bottom: 0;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;

    }

    .menu-spacing {
        display: none;
    }

    .entradaMenu {
        animation: entradaMenu 1s ease-in-out both;
    }

    .entradaTxt {
        animation: entradaText 1s ease-in-out both;
    }

    .saidaMenu {
        animation: saidaMenu 1s ease-in-out both;
    }

    .saidaTxt {
        animation: saidaText 1s ease-in-out both;
    }

    .text-home {
        margin-bottom: 3rem;
    }

    .close-menu {
        z-index: 101;
        position: fixed;
        right: 3rem;
        top: 3rem;
        border-radius: 10rem;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: #fff;
        border: none;
        color: var(--primeira);
        border-radius: 0.5rem;
        cursor: pointer;
    }


    .close-menu:hover {
        transition: var(--transition);
        transform: translateY(-0.5rem);
        box-shadow: 5px 5px 4px #000;

    }

    .menu {
        display: none;
        justify-content: center;
        align-items: center;

    }

    .menu-content {
        flex-direction: column;
    }


    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
        padding-top: 5rem;
    }

    .grid-content {
        width: 80%;
    }

}

@media (max-width: 800px) {
    .text-home {
        width: 100%;
    }

    .foot {
        height: max-content;
    }

    .rodape {
        display: grid;
        place-items: center;
        place-content: center;
    }

    .rodape h1 {
        font-size: 2rem;
    }

    .rodape p {
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .ico {
        width: 16px;
        height: auto;
    }

    .rodape-logo {
        transform: scale(80%);
    }

}